@page
@model dancelog.Pages.ListOfCourseModel

@{
    ViewData["Title"] = "Список курсов";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="table-responsive shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table table-borderless table-hover">
        <thead>
            <tr class="border-bottom">
                <th>ID</th>
                <th>Название курса</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Name</td>
                    <td class="text-end">
                        <form method="post" asp-page-handler="Delete" asp-route-id="@course.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Удалить курс?')">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p>
    <a class="btn btn-primary" href="@Url.Page("Course", new { id = 0 })">Добавить новый курс</a>
</p>


<script>
    document.getElementById('saveCourseButton').addEventListener('click', function () {
        const form = document.getElementById('addCourseForm');
        if (form.checkValidity()) {
            const courseId = document.getElementById('courseId').value;
            const courseName = document.getElementById('courseName').value;
            console.log('ID курса:', courseId);
            console.log('Название курса:', courseName);

            const modal = bootstrap.Modal.getInstance(document.getElementById('addCourseModal'));
            modal.hide();
        } else {
            form.classList.add('was-validated');
        }
    });
</script>